body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: sans-serif;
}

main {
  flex: 1 0 auto;
}

#the-one {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav {
  overflow: hidden;
}

.memberList {
  overflow: scroll;
  height: 35em;
}

#messageSpace {
  width: 100%;
  height: 54.5vh;
  overflow: scroll;
}

#my-butt {
  float: right;
}

#big-title {
  text-align: center;
}
.character-card .card-content {
  height: 20em;
}
