body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: sans-serif;
}

#the-one {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  overflow: hidden;
}

/* nav.dropdown-content {
  overflow: scroll;
} */

.memberList {
  overflow-y: scroll;
  height: 35vh;
}

#messageSpace {
  width: 100%;
  height: 60vh;
  overflow-y: scroll;
}

#my-butt {
  float: right;
}

#big-title {
  text-align: center;
}
.character-card .card-content {
  height: 10em;
}
/* #page-footer {
  bottom: 0;
} */
